table{
    border-collapse: collapse;
    width: 80%;
}
legend{
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 3px;
    margin-bottom: 2px;
}
.heading {
    background-color: azure;
    color: beige;
}
.satu {
    background-color: aliceblue;
}
.dua {
    background-color: cornsilk;
}
.tiga {
    background-color: azure;
}
.empat {
    background-color: aliceblue;
}
.fieldset > legend{
  
}